@model DataModel.Identity.BlogPost

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BlogPost</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TextPost)
        </dt>

        <dd>
            <div>
                @Html.Raw(Model.TextPost)
            </div>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfPost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfPost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TitleOfPost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleOfPost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PictureContent)
        </dt>

        <dd>
            @if (Model.PictureContent != null)
            {
                <div>
                    @{
                        var base64 = Convert.ToBase64String(Model.PictureContent.ToArray());
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                        <img src="@imgSrc" width="800" />
                    }
                </div>
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
