@model IEnumerable<DataModel.Identity.BlogPost>

@{
    ViewBag.Title = "Index";
}

@if (User.IsInRole("Administrator"))
{
    <div class="createBtn col-md-12">
        <br />
        @Html.ActionLink("Create New Post", "Create")
    </div>
}


<div class="section">
    <div class="container">
        @foreach (var item in Model)
        {
        <div class="post post-thumb col-md-6">

            @if (item.PictureContent != null)
            {
                var base64 = Convert.ToBase64String(item.PictureContent.ToArray());
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                <a href='@Url.Action("Details", "BlogPosts", new { id = item.Id })'>
                    <img src='@imgSrc' class="postImgCss" />
                </a>
            }
            else
            {
                <a href='@Url.Action("Details", "BlogPosts", new { id = item.Id})'>
                    <img src='@Url.Content("~/Content/Images/picture-not-available.jpg")' class="postImgCss" />
                </a>
            }
            <div class="post-body">
                <div class="post-meta">
                    <span class="post-date">@item.DateOfPost.ToShortDateString()</span>
                    <a class="post-category cat-2" href="#">@item.User.UserName</a>


                    @if (User.IsInRole("Administrator"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "post-category cat-4" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, htmlAttributes: new { @class = "post-category cat-4" })
                    }

                </div>
                <h3 class="post-title"> <a href='@Url.Action("Details", "BlogPosts", new { id = item.Id})'>@item.TitleOfPost</a></h3>

            </div>
        </div>
        }
    </div>
</div>






<p>
</p>
